

/*
#d9bba9 -> h1,h2
#f2f2f2 -> Paragráfos, footer
#d93030 -> h3
#212226 -> Fundo
*/

h1,h2{
  color: #d9bba9;
}
h3{
  color: #d93030;
}
p{
  color: #f2f2f2;
}
img{
  width: 25%;
  height: 50%;
  
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10%;
}
span{
  background-color: #212226;
  height: 250px;
  padding-bottom: 20px;
  color: #212226;
}

#estilo-time{
  color: #d9bba9;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#estilo-mecanica{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;


}

.color-background{
  background-color: #212226;

}

.position{
  position: relative;
  left: 350px;
}
.position1{
  position: relative;
  right: 350px;
}

.footer-color{
  background-color: #f2f2f2;
}
.icon-position{
  margin: 30px;
  padding: 50px;
  font-size: 50px;
}


